# Dependencies
node_modules

# Built-in; ship with vip-go-mu-plugins
/plugins/akismet/
/plugins/advanced-post-cache/
/plugins/cron-control/
/plugins/gutenberg-ramp/
/plugins/jetpack/
/plugins/jetpack-force-2fa/
/plugins/lightweight-term-count-update/
/plugins/query-monitor/
/plugins/rewrite-rules-inspector/
/plugins/two-factor/
/plugins/vaultpress/

# Uploads directory
/uploads/

# Leftover core/plugin upgrade files
/upgrade/

# mu-plugins; these are managed at the platform-level
/mu-plugins/

# drop-ins; these are managed at the platform-level
/object-cache.php
/db.php

# Ignore temporary OS files
/.idea/
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Composer (repo root only)
/vendor/
client-mu-plugins/vendor/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
